@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  overflow: hidden;
}

#root {
  width: 100svw;
  height: 100dvh;
  background-color: hsl(216, 14%, 7%);
  overflow-y: auto;
  color: hsl(0, 0%, 46%);
}

:root {
  --paddingX: 32px;
  --menuHeight: 60px;
}

.notSelectable {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  pointer-events: none; /* Optional: Disable interaction with the field */
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  -webkit-appearance: none; /* For Chrome, Safari, and newer Edge */
  appearance: textfield; /* Modern standard */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: hsl(216, 14%, 7%); /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: hsl(210, 100%, 41%); /* Color of the scrollbar thumb */
}
